@font-face {
	font-family: '70729___';
	src: url('fonts/70729___.ttf') format('truetype')
}

@font-face {
	font-family: 'ahronbd';
	src: url('fonts/ahronbd.ttf') format('truetype')
}

@font-face {
	font-family: 'ALGER';
	src: url('fonts/ALGER.ttf') format('truetype')
}

@font-face {
	font-family: 'andlso';
	src: url('fonts/andlso.ttf') format('truetype')
}

@font-face {
	font-family: 'angsa';
	src: url('fonts/angsa.ttf') format('truetype')
}

@font-face {
	font-family: 'angsab';
	src: url('fonts/angsab.ttf') format('truetype')
}

@font-face {
	font-family: 'angsai';
	src: url('fonts/angsai.ttf') format('truetype')
}

@font-face {
	font-family: 'angsau';
	src: url('fonts/angsau.ttf') format('truetype')
}

@font-face {
	font-family: 'angsaub';
	src: url('fonts/angsaub.ttf') format('truetype')
}

@font-face {
	font-family: 'angsaui';
	src: url('fonts/angsaui.ttf') format('truetype')
}

@font-face {
	font-family: 'angsauz';
	src: url('fonts/angsauz.ttf') format('truetype')
}

@font-face {
	font-family: 'angsaz';
	src: url('fonts/angsaz.ttf') format('truetype')
}

@font-face {
	font-family: 'ANTQUAB';
	src: url('fonts/ANTQUAB.ttf') format('truetype')
}

@font-face {
	font-family: 'ANTQUABI';
	src: url('fonts/ANTQUABI.ttf') format('truetype')
}

@font-face {
	font-family: 'ANTQUAI';
	src: url('fonts/ANTQUAI.ttf') format('truetype')
}

@font-face {
	font-family: 'aparaj';
	src: url('fonts/aparaj.ttf') format('truetype')
}

@font-face {
	font-family: 'aparajb';
	src: url('fonts/aparajb.ttf') format('truetype')
}

@font-face {
	font-family: 'aparajbi';
	src: url('fonts/aparajbi.ttf') format('truetype')
}

@font-face {
	font-family: 'aparaji';
	src: url('fonts/aparaji.ttf') format('truetype')
}

@font-face {
	font-family: 'arabtype';
	src: url('fonts/arabtype.ttf') format('truetype')
}

@font-face {
	font-family: 'arial';
	src: url('fonts/arial.ttf') format('truetype')
}

@font-face {
	font-family: 'arialbd';
	src: url('fonts/arialbd.ttf') format('truetype')
}

@font-face {
	font-family: 'arialbi';
	src: url('fonts/arialbi.ttf') format('truetype')
}

@font-face {
	font-family: 'ariali';
	src: url('fonts/ariali.ttf') format('truetype')
}

@font-face {
	font-family: 'ARIALN';
	src: url('fonts/ARIALN.ttf') format('truetype')
}

@font-face {
	font-family: 'ARIALNB';
	src: url('fonts/ARIALNB.ttf') format('truetype')
}

@font-face {
	font-family: 'ARIALNBI';
	src: url('fonts/ARIALNBI.ttf') format('truetype')
}

@font-face {
	font-family: 'ARIALNI';
	src: url('fonts/ARIALNI.ttf') format('truetype')
}

@font-face {
	font-family: 'ARIALUNI';
	src: url('fonts/ARIALUNI.ttf') format('truetype')
}

@font-face {
	font-family: 'arial_narrow_7';
	src: url('fonts/arial_narrow_7.ttf') format('truetype')
}

@font-face {
	font-family: 'ariblk';
	src: url('fonts/ariblk.ttf') format('truetype')
}

@font-face {
	font-family: 'BASKVILL';
	src: url('fonts/BASKVILL.ttf') format('truetype')
}

@font-face {
	font-family: 'BAUHS93';
	src: url('fonts/BAUHS93.ttf') format('truetype')
}

@font-face {
	font-family: 'BELL';
	src: url('fonts/BELL.ttf') format('truetype')
}

@font-face {
	font-family: 'BELLB';
	src: url('fonts/BELLB.ttf') format('truetype')
}

@font-face {
	font-family: 'BELLI';
	src: url('fonts/BELLI.ttf') format('truetype')
}

@font-face {
	font-family: 'BERNHC';
	src: url('fonts/BERNHC.ttf') format('truetype')
}

@font-face {
	font-family: 'Bickham Script Two';
	src: url('fonts/Bickham Script Two.ttf') format('truetype')
}

@font-face {
	font-family: 'BKANT';
	src: url('fonts/BKANT.ttf') format('truetype')
}

@font-face {
	font-family: 'BOD_CB';
	src: url('fonts/BOD_CB.ttf') format('truetype')
}

@font-face {
	font-family: 'BOD_CBI';
	src: url('fonts/BOD_CBI.ttf') format('truetype')
}

@font-face {
	font-family: 'BOD_CI';
	src: url('fonts/BOD_CI.ttf') format('truetype')
}

@font-face {
	font-family: 'BOD_CR';
	src: url('fonts/BOD_CR.ttf') format('truetype')
}

@font-face {
	font-family: 'BOD_PSTC';
	src: url('fonts/BOD_PSTC.ttf') format('truetype')
}

@font-face {
	font-family: 'BOOKOS';
	src: url('fonts/BOOKOS.ttf') format('truetype')
}

@font-face {
	font-family: 'BOOKOSB';
	src: url('fonts/BOOKOSB.ttf') format('truetype')
}

@font-face {
	font-family: 'BOOKOSBI';
	src: url('fonts/BOOKOSBI.ttf') format('truetype')
}

@font-face {
	font-family: 'BOOKOSI';
	src: url('fonts/BOOKOSI.ttf') format('truetype')
}

@font-face {
	font-family: 'BRITANIC';
	src: url('fonts/BRITANIC.ttf') format('truetype')
}

@font-face {
	font-family: 'BRLNSB';
	src: url('fonts/BRLNSB.ttf') format('truetype')
}

@font-face {
	font-family: 'BRLNSDB';
	src: url('fonts/BRLNSDB.ttf') format('truetype')
}

@font-face {
	font-family: 'BRLNSR';
	src: url('fonts/BRLNSR.ttf') format('truetype')
}

@font-face {
	font-family: 'BROADW';
	src: url('fonts/BROADW.ttf') format('truetype')
}

@font-face {
	font-family: 'browa';
	src: url('fonts/browa.ttf') format('truetype')
}

@font-face {
	font-family: 'browab';
	src: url('fonts/browab.ttf') format('truetype')
}

@font-face {
	font-family: 'browai';
	src: url('fonts/browai.ttf') format('truetype')
}

@font-face {
	font-family: 'browau';
	src: url('fonts/browau.ttf') format('truetype')
}

@font-face {
	font-family: 'browaub';
	src: url('fonts/browaub.ttf') format('truetype')
}

@font-face {
	font-family: 'browaui';
	src: url('fonts/browaui.ttf') format('truetype')
}

@font-face {
	font-family: 'browauz';
	src: url('fonts/browauz.ttf') format('truetype')
}

@font-face {
	font-family: 'browaz';
	src: url('fonts/browaz.ttf') format('truetype')
}

@font-face {
	font-family: 'BRUSHSCI';
	src: url('fonts/BRUSHSCI.ttf') format('truetype')
}

@font-face {
	font-family: 'BSSYM7';
	src: url('fonts/BSSYM7.ttf') format('truetype')
}

@font-face {
	font-family: 'CALIBRI';
	src: url('fonts/CALIBRI.ttf') format('truetype')
}

@font-face {
	font-family: 'CALIBRIB';
	src: url('fonts/CALIBRIB.ttf') format('truetype')
}

@font-face {
	font-family: 'CALIBRII';
	src: url('fonts/CALIBRII.ttf') format('truetype')
}

@font-face {
	font-family: 'calibril';
	src: url('fonts/calibril.ttf') format('truetype')
}

@font-face {
	font-family: 'calibrili';
	src: url('fonts/calibrili.ttf') format('truetype')
}

@font-face {
	font-family: 'CALIBRIZ';
	src: url('fonts/CALIBRIZ.ttf') format('truetype')
}

@font-face {
	font-family: 'CALIFB';
	src: url('fonts/CALIFB.ttf') format('truetype')
}

@font-face {
	font-family: 'CALIFI';
	src: url('fonts/CALIFI.ttf') format('truetype')
}

@font-face {
	font-family: 'CALIFR';
	src: url('fonts/CALIFR.ttf') format('truetype')
}

@font-face {
	font-family: 'cambriab';
	src: url('fonts/cambriab.ttf') format('truetype')
}

@font-face {
	font-family: 'cambriai';
	src: url('fonts/cambriai.ttf') format('truetype')
}

@font-face {
	font-family: 'cambriaz';
	src: url('fonts/cambriaz.ttf') format('truetype')
}

@font-face {
	font-family: 'CANDARA';
	src: url('fonts/CANDARA.ttf') format('truetype')
}

@font-face {
	font-family: 'CANDARAB';
	src: url('fonts/CANDARAB.ttf') format('truetype')
}

@font-face {
	font-family: 'CANDARAI';
	src: url('fonts/CANDARAI.ttf') format('truetype')
}

@font-face {
	font-family: 'CANDARAZ';
	src: url('fonts/CANDARAZ.ttf') format('truetype')
}

@font-face {
	font-family: 'CENTAUR';
	src: url('fonts/CENTAUR.ttf') format('truetype')
}

@font-face {
	font-family: 'CENTURY';
	src: url('fonts/CENTURY.ttf') format('truetype')
}

@font-face {
	font-family: 'CHILLER';
	src: url('fonts/CHILLER.ttf') format('truetype')
}

@font-face {
	font-family: 'COLONNA';
	src: url('fonts/COLONNA.ttf') format('truetype')
}

@font-face {
	font-family: 'comic';
	src: url('fonts/comic.ttf') format('truetype')
}

@font-face {
	font-family: 'comicbd';
	src: url('fonts/comicbd.ttf') format('truetype')
}

@font-face {
	font-family: 'consola';
	src: url('fonts/consola.ttf') format('truetype')
}

@font-face {
	font-family: 'consolab';
	src: url('fonts/consolab.ttf') format('truetype')
}

@font-face {
	font-family: 'consolai';
	src: url('fonts/consolai.ttf') format('truetype')
}

@font-face {
	font-family: 'consolaz';
	src: url('fonts/consolaz.ttf') format('truetype')
}

@font-face {
	font-family: 'CONSTAN';
	src: url('fonts/CONSTAN.ttf') format('truetype')
}

@font-face {
	font-family: 'CONSTANB';
	src: url('fonts/CONSTANB.ttf') format('truetype')
}

@font-face {
	font-family: 'CONSTANI';
	src: url('fonts/CONSTANI.ttf') format('truetype')
}

@font-face {
	font-family: 'CONSTANZ';
	src: url('fonts/CONSTANZ.ttf') format('truetype')
}

@font-face {
	font-family: 'COOPBL';
	src: url('fonts/COOPBL.ttf') format('truetype')
}

@font-face {
	font-family: 'CORBEL';
	src: url('fonts/CORBEL.ttf') format('truetype')
}

@font-face {
	font-family: 'CORBELB';
	src: url('fonts/CORBELB.ttf') format('truetype')
}

@font-face {
	font-family: 'CORBELI';
	src: url('fonts/CORBELI.ttf') format('truetype')
}

@font-face {
	font-family: 'CORBELZ';
	src: url('fonts/CORBELZ.ttf') format('truetype')
}

@font-face {
	font-family: 'cordia';
	src: url('fonts/cordia.ttf') format('truetype')
}

@font-face {
	font-family: 'cordiab';
	src: url('fonts/cordiab.ttf') format('truetype')
}

@font-face {
	font-family: 'cordiai';
	src: url('fonts/cordiai.ttf') format('truetype')
}

@font-face {
	font-family: 'cordiau';
	src: url('fonts/cordiau.ttf') format('truetype')
}

@font-face {
	font-family: 'cordiaub';
	src: url('fonts/cordiaub.ttf') format('truetype')
}

@font-face {
	font-family: 'cordiaui';
	src: url('fonts/cordiaui.ttf') format('truetype')
}

@font-face {
	font-family: 'cordiauz';
	src: url('fonts/cordiauz.ttf') format('truetype')
}

@font-face {
	font-family: 'cordiaz';
	src: url('fonts/cordiaz.ttf') format('truetype')
}

@font-face {
	font-family: 'cour';
	src: url('fonts/cour.ttf') format('truetype')
}

@font-face {
	font-family: 'courbd';
	src: url('fonts/courbd.ttf') format('truetype')
}

@font-face {
	font-family: 'courbi';
	src: url('fonts/courbi.ttf') format('truetype')
}

@font-face {
	font-family: 'couri';
	src: url('fonts/couri.ttf') format('truetype')
}

@font-face {
	font-family: 'daunpenh';
	src: url('fonts/daunpenh.ttf') format('truetype')
}

@font-face {
	font-family: 'david';
	src: url('fonts/david.ttf') format('truetype')
}

@font-face {
	font-family: 'davidbd';
	src: url('fonts/davidbd.ttf') format('truetype')
}

@font-face {
	font-family: 'dokchamp';
	src: url('fonts/dokchamp.ttf') format('truetype')
}

@font-face {
	font-family: 'ebrima';
	src: url('fonts/ebrima.ttf') format('truetype')
}

@font-face {
	font-family: 'ebrimabd';
	src: url('fonts/ebrimabd.ttf') format('truetype')
}

@font-face {
	font-family: 'Esenin script One';
	src: url('fonts/Esenin script One.ttf') format('truetype')
}

@font-face {
	font-family: 'estre';
	src: url('fonts/estre.ttf') format('truetype')
}

@font-face {
	font-family: 'euphemia';
	src: url('fonts/euphemia.ttf') format('truetype')
}

@font-face {
	font-family: 'eurosign';
	src: url('fonts/eurosign.ttf') format('truetype')
}

@font-face {
	font-family: 'FlemishScriptBT';
	src: url('fonts/FlemishScriptBT.ttf') format('truetype')
}

@font-face {
	font-family: 'FRAHV';
	src: url('fonts/FRAHV.ttf') format('truetype')
}

@font-face {
	font-family: 'FRAHVIT';
	src: url('fonts/FRAHVIT.ttf') format('truetype')
}

@font-face {
	font-family: 'framd';
	src: url('fonts/framd.ttf') format('truetype')
}

@font-face {
	font-family: 'framdit';
	src: url('fonts/framdit.ttf') format('truetype')
}

@font-face {
	font-family: 'frank';
	src: url('fonts/frank.ttf') format('truetype')
}

@font-face {
	font-family: 'FREESCPT';
	src: url('fonts/FREESCPT.ttf') format('truetype')
}

@font-face {
	font-family: 'FTLTLT';
	src: url('fonts/FTLTLT.ttf') format('truetype')
}

@font-face {
	font-family: 'GARA';
	src: url('fonts/GARA.ttf') format('truetype')
}

@font-face {
	font-family: 'GARABD';
	src: url('fonts/GARABD.ttf') format('truetype')
}

@font-face {
	font-family: 'GARAIT';
	src: url('fonts/GARAIT.ttf') format('truetype')
}

@font-face {
	font-family: 'gautami';
	src: url('fonts/gautami.ttf') format('truetype')
}

@font-face {
	font-family: 'gautamib';
	src: url('fonts/gautamib.ttf') format('truetype')
}

@font-face {
	font-family: 'georgia';
	src: url('fonts/georgia.ttf') format('truetype')
}

@font-face {
	font-family: 'georgiab';
	src: url('fonts/georgiab.ttf') format('truetype')
}

@font-face {
	font-family: 'georgiai';
	src: url('fonts/georgiai.ttf') format('truetype')
}

@font-face {
	font-family: 'georgiaz';
	src: url('fonts/georgiaz.ttf') format('truetype')
}

@font-face {
	font-family: 'gisha';
	src: url('fonts/gisha.ttf') format('truetype')
}

@font-face {
	font-family: 'gishabd';
	src: url('fonts/gishabd.ttf') format('truetype')
}

@font-face {
	font-family: 'GOTHIC';
	src: url('fonts/GOTHIC.ttf') format('truetype')
}

@font-face {
	font-family: 'GOTHICB';
	src: url('fonts/GOTHICB.ttf') format('truetype')
}

@font-face {
	font-family: 'GOTHICBI';
	src: url('fonts/GOTHICBI.ttf') format('truetype')
}

@font-face {
	font-family: 'GOTHICI';
	src: url('fonts/GOTHICI.ttf') format('truetype')
}

@font-face {
	font-family: 'GRILCBTO';
	src: url('fonts/GRILCBTO.ttf') format('truetype')
}

@font-face {
	font-family: 'HARLOWSI';
	src: url('fonts/HARLOWSI.ttf') format('truetype')
}

@font-face {
	font-family: 'HARNGTON';
	src: url('fonts/HARNGTON.ttf') format('truetype')
}

@font-face {
	font-family: 'himalaya';
	src: url('fonts/himalaya.ttf') format('truetype')
}

@font-face {
	font-family: 'HTOWERT';
	src: url('fonts/HTOWERT.ttf') format('truetype')
}

@font-face {
	font-family: 'HTOWERTI';
	src: url('fonts/HTOWERTI.ttf') format('truetype')
}

@font-face {
	font-family: 'impact';
	src: url('fonts/impact.ttf') format('truetype')
}

@font-face {
	font-family: 'INFROMAN';
	src: url('fonts/INFROMAN.ttf') format('truetype')
}

@font-face {
	font-family: 'iskpota';
	src: url('fonts/iskpota.ttf') format('truetype')
}

@font-face {
	font-family: 'iskpotab';
	src: url('fonts/iskpotab.ttf') format('truetype')
}

@font-face {
	font-family: 'ITCKRIST';
	src: url('fonts/ITCKRIST.ttf') format('truetype')
}

@font-face {
	font-family: 'JOKERMAN';
	src: url('fonts/JOKERMAN.ttf') format('truetype')
}

@font-face {
	font-family: 'JUICE___';
	src: url('fonts/JUICE___.ttf') format('truetype')
}

@font-face {
	font-family: 'kaiu';
	src: url('fonts/kaiu.ttf') format('truetype')
}

@font-face {
	font-family: 'kalinga';
	src: url('fonts/kalinga.ttf') format('truetype')
}

@font-face {
	font-family: 'kalingab';
	src: url('fonts/kalingab.ttf') format('truetype')
}

@font-face {
	font-family: 'kartika';
	src: url('fonts/kartika.ttf') format('truetype')
}

@font-face {
	font-family: 'kartikab';
	src: url('fonts/kartikab.ttf') format('truetype')
}

@font-face {
	font-family: 'KhmerUI';
	src: url('fonts/KhmerUI.ttf') format('truetype')
}

@font-face {
	font-family: 'KhmerUIb';
	src: url('fonts/KhmerUIb.ttf') format('truetype')
}

@font-face {
	font-family: 'kokila';
	src: url('fonts/kokila.ttf') format('truetype')
}

@font-face {
	font-family: 'kokilab';
	src: url('fonts/kokilab.ttf') format('truetype')
}

@font-face {
	font-family: 'kokilabi';
	src: url('fonts/kokilabi.ttf') format('truetype')
}

@font-face {
	font-family: 'kokilai';
	src: url('fonts/kokilai.ttf') format('truetype')
}

@font-face {
	font-family: 'KUNSTLER';
	src: url('fonts/KUNSTLER.ttf') format('truetype')
}

@font-face {
	font-family: 'LaoUI';
	src: url('fonts/LaoUI.ttf') format('truetype')
}

@font-face {
	font-family: 'LaoUIb';
	src: url('fonts/LaoUIb.ttf') format('truetype')
}

@font-face {
	font-family: 'latha';
	src: url('fonts/latha.ttf') format('truetype')
}

@font-face {
	font-family: 'lathab';
	src: url('fonts/lathab.ttf') format('truetype')
}

@font-face {
	font-family: 'LATINWD';
	src: url('fonts/LATINWD.ttf') format('truetype')
}

@font-face {
	font-family: 'LBRITED';
	src: url('fonts/LBRITED.ttf') format('truetype')
}

@font-face {
	font-family: 'LBRITEDI';
	src: url('fonts/LBRITEDI.ttf') format('truetype')
}

@font-face {
	font-family: 'LBRITEI';
	src: url('fonts/LBRITEI.ttf') format('truetype')
}

@font-face {
	font-family: 'LCALLIG';
	src: url('fonts/LCALLIG.ttf') format('truetype')
}

@font-face {
	font-family: 'leelawad';
	src: url('fonts/leelawad.ttf') format('truetype')
}

@font-face {
	font-family: 'leelawdb';
	src: url('fonts/leelawdb.ttf') format('truetype')
}

@font-face {
	font-family: 'LFAX';
	src: url('fonts/LFAX.ttf') format('truetype')
}

@font-face {
	font-family: 'LFAXD';
	src: url('fonts/LFAXD.ttf') format('truetype')
}

@font-face {
	font-family: 'LFAXDI';
	src: url('fonts/LFAXDI.ttf') format('truetype')
}

@font-face {
	font-family: 'LFAXI';
	src: url('fonts/LFAXI.ttf') format('truetype')
}

@font-face {
	font-family: 'LHANDW';
	src: url('fonts/LHANDW.ttf') format('truetype')
}

@font-face {
	font-family: 'LucidaBrightRegular';
	src: url('fonts/LucidaBrightRegular.ttf') format('truetype')
}

@font-face {
	font-family: 'LucidaSansDemiBold';
	src: url('fonts/LucidaSansDemiBold.ttf') format('truetype')
}

@font-face {
	font-family: 'lucon';
	src: url('fonts/lucon.ttf') format('truetype')
}

@font-face {
	font-family: 'lvnm';
	src: url('fonts/lvnm.ttf') format('truetype')
}

@font-face {
	font-family: 'lvnmbd';
	src: url('fonts/lvnmbd.ttf') format('truetype')
}

@font-face {
	font-family: 'l_10646';
	src: url('fonts/l_10646.ttf') format('truetype')
}

@font-face {
	font-family: 'MAGNETOB';
	src: url('fonts/MAGNETOB.ttf') format('truetype')
}

@font-face {
	font-family: 'majalla';
	src: url('fonts/majalla.ttf') format('truetype')
}

@font-face {
	font-family: 'majallab';
	src: url('fonts/majallab.ttf') format('truetype')
}

@font-face {
	font-family: 'malgun';
	src: url('fonts/malgun.ttf') format('truetype')
}

@font-face {
	font-family: 'malgunbd';
	src: url('fonts/malgunbd.ttf') format('truetype')
}

@font-face {
	font-family: 'mangal';
	src: url('fonts/mangal.ttf') format('truetype')
}

@font-face {
	font-family: 'mangalb';
	src: url('fonts/mangalb.ttf') format('truetype')
}

@font-face {
	font-family: 'MATURASC';
	src: url('fonts/MATURASC.ttf') format('truetype')
}

@font-face {
	font-family: 'micross';
	src: url('fonts/micross.ttf') format('truetype')
}

@font-face {
	font-family: 'MISTRAL';
	src: url('fonts/MISTRAL.ttf') format('truetype')
}

@font-face {
	font-family: 'MOD20';
	src: url('fonts/MOD20.ttf') format('truetype')
}

@font-face {
	font-family: 'monbaiti';
	src: url('fonts/monbaiti.ttf') format('truetype')
}

@font-face {
	font-family: 'moolbor';
	src: url('fonts/moolbor.ttf') format('truetype')
}

@font-face {
	font-family: 'mriam';
	src: url('fonts/mriam.ttf') format('truetype')
}

@font-face {
	font-family: 'mriamc';
	src: url('fonts/mriamc.ttf') format('truetype')
}

@font-face {
	font-family: 'msjh';
	src: url('fonts/msjh.ttf') format('truetype')
}

@font-face {
	font-family: 'msjhbd';
	src: url('fonts/msjhbd.ttf') format('truetype')
}

@font-face {
	font-family: 'msuighur';
	src: url('fonts/msuighur.ttf') format('truetype')
}

@font-face {
	font-family: 'msyh';
	src: url('fonts/msyh.ttf') format('truetype')
}

@font-face {
	font-family: 'msyhbd';
	src: url('fonts/msyhbd.ttf') format('truetype')
}

@font-face {
	font-family: 'msyi';
	src: url('fonts/msyi.ttf') format('truetype')
}

@font-face {
	font-family: 'MTCORSVA';
	src: url('fonts/MTCORSVA.ttf') format('truetype')
}

@font-face {
	font-family: 'MTEXTRA';
	src: url('fonts/MTEXTRA.ttf') format('truetype')
}

@font-face {
	font-family: 'mvboli';
	src: url('fonts/mvboli.ttf') format('truetype')
}

@font-face {
	font-family: 'NIAGENG';
	src: url('fonts/NIAGENG.ttf') format('truetype')
}

@font-face {
	font-family: 'NIAGSOL';
	src: url('fonts/NIAGSOL.ttf') format('truetype')
}

@font-face {
	font-family: 'nrkis';
	src: url('fonts/nrkis.ttf') format('truetype')
}

@font-face {
	font-family: 'ntailu';
	src: url('fonts/ntailu.ttf') format('truetype')
}

@font-face {
	font-family: 'ntailub';
	src: url('fonts/ntailub.ttf') format('truetype')
}

@font-face {
	font-family: 'nyala';
	src: url('fonts/nyala.ttf') format('truetype')
}

@font-face {
	font-family: 'OLDENGL';
	src: url('fonts/OLDENGL.ttf') format('truetype')
}

@font-face {
	font-family: 'ONYX';
	src: url('fonts/ONYX.ttf') format('truetype')
}

@font-face {
	font-family: 'pala';
	src: url('fonts/pala.ttf') format('truetype')
}

@font-face {
	font-family: 'palab';
	src: url('fonts/palab.ttf') format('truetype')
}

@font-face {
	font-family: 'palabi';
	src: url('fonts/palabi.ttf') format('truetype')
}

@font-face {
	font-family: 'palai';
	src: url('fonts/palai.ttf') format('truetype')
}

@font-face {
	font-family: 'PARCHM';
	src: url('fonts/PARCHM.ttf') format('truetype')
}

@font-face {
	font-family: 'phagspa';
	src: url('fonts/phagspa.ttf') format('truetype')
}

@font-face {
	font-family: 'phagspab';
	src: url('fonts/phagspab.ttf') format('truetype')
}

@font-face {
	font-family: 'plantc';
	src: url('fonts/plantc.ttf') format('truetype')
}

@font-face {
	font-family: 'PLAYBILL';
	src: url('fonts/PLAYBILL.ttf') format('truetype')
}

@font-face {
	font-family: 'POORICH';
	src: url('fonts/POORICH.ttf') format('truetype')
}

@font-face {
	font-family: 'raavi';
	src: url('fonts/raavi.ttf') format('truetype')
}

@font-face {
	font-family: 'raavib';
	src: url('fonts/raavib.ttf') format('truetype')
}

@font-face {
	font-family: 'RAVIE';
	src: url('fonts/RAVIE.ttf') format('truetype')
}

@font-face {
	font-family: 'REFSAN';
	src: url('fonts/REFSAN.ttf') format('truetype')
}

@font-face {
	font-family: 'REFSPCL';
	src: url('fonts/REFSPCL.ttf') format('truetype')
}

@font-face {
	font-family: 'ROCKEB';
	src: url('fonts/ROCKEB.ttf') format('truetype')
}

@font-face {
	font-family: 'rod';
	src: url('fonts/rod.ttf') format('truetype')
}

@font-face {
	font-family: 'SALINA__';
	src: url('fonts/SALINA__.ttf') format('truetype')
}

@font-face {
	font-family: 'segoepr';
	src: url('fonts/segoepr.ttf') format('truetype')
}

@font-face {
	font-family: 'segoeprb';
	src: url('fonts/segoeprb.ttf') format('truetype')
}

@font-face {
	font-family: 'segoesc';
	src: url('fonts/segoesc.ttf') format('truetype')
}

@font-face {
	font-family: 'segoescb';
	src: url('fonts/segoescb.ttf') format('truetype')
}

@font-face {
	font-family: 'segoeui';
	src: url('fonts/segoeui.ttf') format('truetype')
}

@font-face {
	font-family: 'segoeuib';
	src: url('fonts/segoeuib.ttf') format('truetype')
}

@font-face {
	font-family: 'segoeuii';
	src: url('fonts/segoeuii.ttf') format('truetype')
}

@font-face {
	font-family: 'segoeuil';
	src: url('fonts/segoeuil.ttf') format('truetype')
}

@font-face {
	font-family: 'segoeuiz';
	src: url('fonts/segoeuiz.ttf') format('truetype')
}

@font-face {
	font-family: 'seguisb';
	src: url('fonts/seguisb.ttf') format('truetype')
}

@font-face {
	font-family: 'seguisym';
	src: url('fonts/seguisym.ttf') format('truetype')
}

@font-face {
	font-family: 'Shonar';
	src: url('fonts/Shonar.ttf') format('truetype')
}

@font-face {
	font-family: 'Shonarb';
	src: url('fonts/Shonarb.ttf') format('truetype')
}

@font-face {
	font-family: 'SHOWG';
	src: url('fonts/SHOWG.ttf') format('truetype')
}

@font-face {
	font-family: 'shruti';
	src: url('fonts/shruti.ttf') format('truetype')
}

@font-face {
	font-family: 'shrutib';
	src: url('fonts/shrutib.ttf') format('truetype')
}

@font-face {
	font-family: 'simfang';
	src: url('fonts/simfang.ttf') format('truetype')
}

@font-face {
	font-family: 'simhei';
	src: url('fonts/simhei.ttf') format('truetype')
}

@font-face {
	font-family: 'simkai';
	src: url('fonts/simkai.ttf') format('truetype')
}

@font-face {
	font-family: 'simpbdo';
	src: url('fonts/simpbdo.ttf') format('truetype')
}

@font-face {
	font-family: 'simpfxo';
	src: url('fonts/simpfxo.ttf') format('truetype')
}

@font-face {
	font-family: 'simpo';
	src: url('fonts/simpo.ttf') format('truetype')
}

@font-face {
	font-family: 'simsunb';
	src: url('fonts/simsunb.ttf') format('truetype')
}

@font-face {
	font-family: 'SNAP____';
	src: url('fonts/SNAP____.ttf') format('truetype')
}

@font-face {
	font-family: 'STENCIL';
	src: url('fonts/STENCIL.ttf') format('truetype')
}

@font-face {
	font-family: 'Swkeys1';
	src: url('fonts/Swkeys1.ttf') format('truetype')
}

@font-face {
	font-family: 'sylfaen';
	src: url('fonts/sylfaen.ttf') format('truetype')
}

@font-face {
	font-family: 'symbol';
	src: url('fonts/symbol.ttf') format('truetype')
}

@font-face {
	font-family: 'tahoma';
	src: url('fonts/tahoma.ttf') format('truetype')
}

@font-face {
	font-family: 'tahomabd';
	src: url('fonts/tahomabd.ttf') format('truetype')
}

@font-face {
	font-family: 'taile';
	src: url('fonts/taile.ttf') format('truetype')
}

@font-face {
	font-family: 'taileb';
	src: url('fonts/taileb.ttf') format('truetype')
}

@font-face {
	font-family: 'TEMPSITC';
	src: url('fonts/TEMPSITC.ttf') format('truetype')
}

@font-face {
	font-family: 'times';
	src: url('fonts/times.ttf') format('truetype')
}

@font-face {
	font-family: 'timesbd';
	src: url('fonts/timesbd.ttf') format('truetype')
}

@font-face {
	font-family: 'timesbi';
	src: url('fonts/timesbi.ttf') format('truetype')
}

@font-face {
	font-family: 'timesi';
	src: url('fonts/timesi.ttf') format('truetype')
}

@font-face {
	font-family: 'tradbdo';
	src: url('fonts/tradbdo.ttf') format('truetype')
}

@font-face {
	font-family: 'trado';
	src: url('fonts/trado.ttf') format('truetype')
}

@font-face {
	font-family: 'trebuc';
	src: url('fonts/trebuc.ttf') format('truetype')
}

@font-face {
	font-family: 'trebucbd';
	src: url('fonts/trebucbd.ttf') format('truetype')
}

@font-face {
	font-family: 'trebucbi';
	src: url('fonts/trebucbi.ttf') format('truetype')
}

@font-face {
	font-family: 'trebucit';
	src: url('fonts/trebucit.ttf') format('truetype')
}

@font-face {
	font-family: 'tunga';
	src: url('fonts/tunga.ttf') format('truetype')
}

@font-face {
	font-family: 'tungab';
	src: url('fonts/tungab.ttf') format('truetype')
}

@font-face {
	font-family: 'upcdb';
	src: url('fonts/upcdb.ttf') format('truetype')
}

@font-face {
	font-family: 'upcdbi';
	src: url('fonts/upcdbi.ttf') format('truetype')
}

@font-face {
	font-family: 'upcdi';
	src: url('fonts/upcdi.ttf') format('truetype')
}

@font-face {
	font-family: 'upcdl';
	src: url('fonts/upcdl.ttf') format('truetype')
}

@font-face {
	font-family: 'upceb';
	src: url('fonts/upceb.ttf') format('truetype')
}

@font-face {
	font-family: 'upcebi';
	src: url('fonts/upcebi.ttf') format('truetype')
}

@font-face {
	font-family: 'upcei';
	src: url('fonts/upcei.ttf') format('truetype')
}

@font-face {
	font-family: 'upcel';
	src: url('fonts/upcel.ttf') format('truetype')
}

@font-face {
	font-family: 'upcfb';
	src: url('fonts/upcfb.ttf') format('truetype')
}

@font-face {
	font-family: 'upcfbi';
	src: url('fonts/upcfbi.ttf') format('truetype')
}

@font-face {
	font-family: 'upcfi';
	src: url('fonts/upcfi.ttf') format('truetype')
}

@font-face {
	font-family: 'upcfl';
	src: url('fonts/upcfl.ttf') format('truetype')
}

@font-face {
	font-family: 'upcib';
	src: url('fonts/upcib.ttf') format('truetype')
}

@font-face {
	font-family: 'upcibi';
	src: url('fonts/upcibi.ttf') format('truetype')
}

@font-face {
	font-family: 'upcii';
	src: url('fonts/upcii.ttf') format('truetype')
}

@font-face {
	font-family: 'upcil';
	src: url('fonts/upcil.ttf') format('truetype')
}

@font-face {
	font-family: 'upcjb';
	src: url('fonts/upcjb.ttf') format('truetype')
}

@font-face {
	font-family: 'upcjbi';
	src: url('fonts/upcjbi.ttf') format('truetype')
}

@font-face {
	font-family: 'upcji';
	src: url('fonts/upcji.ttf') format('truetype')
}

@font-face {
	font-family: 'upcjl';
	src: url('fonts/upcjl.ttf') format('truetype')
}

@font-face {
	font-family: 'upckb';
	src: url('fonts/upckb.ttf') format('truetype')
}

@font-face {
	font-family: 'upckbi';
	src: url('fonts/upckbi.ttf') format('truetype')
}

@font-face {
	font-family: 'upcki';
	src: url('fonts/upcki.ttf') format('truetype')
}

@font-face {
	font-family: 'upckl';
	src: url('fonts/upckl.ttf') format('truetype')
}

@font-face {
	font-family: 'upclb';
	src: url('fonts/upclb.ttf') format('truetype')
}

@font-face {
	font-family: 'upclbi';
	src: url('fonts/upclbi.ttf') format('truetype')
}

@font-face {
	font-family: 'upcli';
	src: url('fonts/upcli.ttf') format('truetype')
}

@font-face {
	font-family: 'upcll';
	src: url('fonts/upcll.ttf') format('truetype')
}

@font-face {
	font-family: 'utsaah';
	src: url('fonts/utsaah.ttf') format('truetype')
}

@font-face {
	font-family: 'utsaahb';
	src: url('fonts/utsaahb.ttf') format('truetype')
}

@font-face {
	font-family: 'utsaahbi';
	src: url('fonts/utsaahbi.ttf') format('truetype')
}

@font-face {
	font-family: 'utsaahi';
	src: url('fonts/utsaahi.ttf') format('truetype')
}

@font-face {
	font-family: 'Vani';
	src: url('fonts/Vani.ttf') format('truetype')
}

@font-face {
	font-family: 'Vanib';
	src: url('fonts/Vanib.ttf') format('truetype')
}

@font-face {
	font-family: 'verdana';
	src: url('fonts/verdana.ttf') format('truetype')
}

@font-face {
	font-family: 'verdanab';
	src: url('fonts/verdanab.ttf') format('truetype')
}

@font-face {
	font-family: 'verdanai';
	src: url('fonts/verdanai.ttf') format('truetype')
}

@font-face {
	font-family: 'verdanaz';
	src: url('fonts/verdanaz.ttf') format('truetype')
}

@font-face {
	font-family: 'vijaya';
	src: url('fonts/vijaya.ttf') format('truetype')
}

@font-face {
	font-family: 'vijayab';
	src: url('fonts/vijayab.ttf') format('truetype')
}

@font-face {
	font-family: 'VINERITC';
	src: url('fonts/VINERITC.ttf') format('truetype')
}

@font-face {
	font-family: 'VIVALDII';
	src: url('fonts/VIVALDII.ttf') format('truetype')
}

@font-face {
	font-family: 'VLADIMIR';
	src: url('fonts/VLADIMIR.ttf') format('truetype')
}

@font-face {
	font-family: 'vrinda';
	src: url('fonts/vrinda.ttf') format('truetype')
}

@font-face {
	font-family: 'vrindab';
	src: url('fonts/vrindab.ttf') format('truetype')
}

@font-face {
	font-family: 'webdings';
	src: url('fonts/webdings.ttf') format('truetype')
}

@font-face {
	font-family: 'wingding';
	src: url('fonts/wingding.ttf') format('truetype')
}

@font-face {
	font-family: 'WINGDNG2';
	src: url('fonts/WINGDNG2.ttf') format('truetype')
}

@font-face {
	font-family: 'WINGDNG3';
	src: url('fonts/WINGDNG3.ttf') format('truetype')
}

@font-face {
	font-family: 'ZWAdobeF';
	src: url('fonts/ZWAdobeF.ttf') format('truetype')
}

