body {
    padding: 62px 10px 0 10px;
}

div.font-preview {
    width: 100%;
    height: 200px;
    overflow: auto;
}

div.font-preview-block {
    float: left;
    width: 200px;
    height: 100px;
}

div.font-preview-block .name {
    text-align: center;
    height: 30px;
    width: 100%;
}

div.font-preview-block .text-string {
    text-align: center;
    height: 70px;
    width: 100%;
}

.row {
    margin-right: 0;
}

canvas {
    border: 1px solid #000;
}

.dropzone {
    position: fixed;
    top: 0;
    left: -100%;
    right: 100%;
    bottom: 0;
    z-index: 2000;
    min-height: initial;
    padding: 0;
}

.dropzone .dz-message {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -110px;
}

.short-input {
    max-width: 90px;
}

.preview-bar {
    position: fixed;
    right: 0;
    top: 52px;
    bottom: 0;
    overflow: hidden;
    width: 500px;
}

.panel {
    width: 100%;
}

.hidden {
    display: none;
}

.table td, .table th {
    vertical-align: middle;
}

.table.clickable {
    cursor: pointer;
}

.panel-table-wrapper{
    max-height: 250px;
    overflow-y: auto;
}